body{
    width: 100%;
    height: 100%;
	opacity: 0.9;
	background-color: white;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}
#background{
	background-image: url("../images/bg2s.jpg");
	height: 2000px
	width: 100%;
}
#logo{
	margin: 50 0 50 0;
    width: 100%;
	text-align: center;
    height: 200px;
	background-repeat: no-repeat;
}
#main{
    background-color: white;
	opacity: 0.95;
    width: 70%;
	height: 1800px;
    text-align: center;
    margin:auto;
	display: none;
	border-style: ridge;
}
#loadDiv {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.95;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loadDiv-image {
  position: absolute;
  top: 100px;
  left: 240px;
  z-index: 100;
}
#chartDiv{
	width: 50%;
	margin: 0 15% 0 15%;
	padding: 0 10% 0 10%;
}
#demandChartDiv{
	width: 50%;
	height: 500px;
	margin: 0 15% 0 15%;
	padding: 0 10% 0 10%;
}
